<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>MHT DEMO</title>
    <link href="../static/ustyle_doctor.css" rel="stylesheet">
</head>

<body>
<div class="navbar">
    <div class="navdiv">
        <div>DDS</div>
        <ul>
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="# ">About</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </div>
</div>
<div class="table-box">
    <div class="table-row">
        <div class="table-cell"><p>Patent Id</p></div>
        <div class="table-cell"><p>Patent Name</p></div>
        <div class="table-cell"><p>Others</p></div>
        <div class="table-cell"><p>Status</p></div>

    </div>
    <div class="table-row">
        <div class="table-cell"><p>10356</p></div>
        <div class="table-cell"><p>Prem Shahi</p></div>
        <div class="table-cell">
            <button class="btn"><a href="blank.html">Update</a></button>
            <button class="btn"><a href="blank.html">Delete</a></button>
            <button class="btn"><a href="blank.html">view</a></button>
        </div>
        <div class="table-cell"><img alt="" class="logo" src="inactive.png"></div>

    </div>
    <div class="table-row">
        <div class="table-cell"><p>10357</p></div>
        <div class="table-cell"><p>Deepa Chand</p></div>
        <div class="table-cell">
            <button class="btn"><a href="blank.html">Update</a></button>
            <button class="btn"><a href="blank.html">Delete</a></button>
            <button class="btn"><a href="blank.html">view</a></button>

        </div>
        <div class="table-cell"><img alt="" class="logo" src="active.png"></div>

    </div>
    <div class="table-row">
        <div class="table-cell"><p>10358</p></div>
        <div class="table-cell"><p>Manisha Chand</p></div>
        <div class="table-cell">
            <button class="btn"><a href="blank.html">Update</a></button>
            <button class="btn"><a href="blank.html">Delete</a></button>
            <button class="btn"><a href="blank.html">view</a></button>
        </div>
        <div class="table-cell"><img alt="" class="logo" src="active.png"></div>

    </div>
    <div class="table-row">
        <div class="table-cell"><p>10359</p></div>
        <div class="table-cell"><p>Pratima Shahi</p></div>
        <div class="table-cell">
            <button class="btn"><a href="blank.html">Update</a></button>
            <button class="btn"><a href="blank.html">Delete</a></button>
            <button class="btn"><a href="blank.html">view</a></button>
        </div>
        <div class="table-cell"><img alt="" class="logo" src="active.png"></div>

    </div>
    <div class="table-row">
        <div class="table-cell"><p>10360</p></div>
        <div class="table-cell"><p>Man Shahi</p></div>
        <div class="table-cell">
            <button class="btn"><a href="blank.html">Update</a></button>
            <button class="btn"><a href="blank.html">Delete</a></button>
            <button class="btn"><a href="blank.html">view</a></button>
        </div>
        <div class="table-cell">
            <img alt="" class="logo" src="active.png">
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell"><p>10361</p></div>
        <div class="table-cell"><p>Ganesh Chand</p></div>
        <div class="table-cell">
            <button class="btn"><a href="blank.html">Update</a></button>
            <button class="btn"><a href="blank.html">Delete</a></button>
            <button class="btn"><a href="blank.html">view</a></button>
        </div>
        <div class="table-cell"><img alt="" class="logo" src="inactive.png"></div>

    </div>
</div>
</body>
</html>