<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!----======== CSS ======== -->
    <link href="../static/style_patient.css" rel="stylesheet">
    <link href="../static/faq.css" rel="stylesheet">

    <!----===== Iconscout CSS ===== -->


    <title></title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img alt="" src="../static/logo.png">
        </div>

        <span class="logo_name">DDL</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/dashboard">
                <i class="uil uil-estate"></i>
                <span class="link-name">Assesment</span>
            </a></li>
            <li><a href="/faq">
                <i class="uil uil-comments"></i>
                <span class="link-name">Faq</span>
            </a></li>
            <li><a href="/chatbot">
                <i class="uil uil-chart"></i>
                <span class="link-name">Chat Bot</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input placeholder="Search here..." type="text">
        </div>

        <button class="button"><span class="but">Logout</span></button>

    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Assesment</span>
            </div>

            <div class="boxes">
                <div class="box box1">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="text">First assessment</span>
                    <span class="number">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, laudantium saepe dolores optio quos sint vitae corporis harum! Laboriosam non aliquid, facilis dolores similique molestiae?</span>
                </div>
            </div>
            <br>
            <div class="boxes">
                <div class="box box1">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="text">Second assessment</span>
                    <span class="number">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste esse, aperiam incidunt dignissimos aliquid odit et inventore magni, aut placeat magnam ullam iure totam.</span>
                </div>
            </div>
            <br>
            <div class="boxes">
                <div class="box box1">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="text">Third assessment</span>
                    <span class="number">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, expedita rem earum harum amet corrupti dolore, hic libero dolorum eum, perspiciatis aperiam provident quidem architecto.</span>
                </div>
            </div>
        </div>

    </div>
</section>

<script src="../static/script.js"></script>
</body>
</html>